<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_square_smile"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmoSense"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.profile.ChangeChildDataActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.ChildDataActivity"
            android:exported="false" />
        <activity
            android:name=".view.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.predict.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".view.forum.AddForumActivity"
            android:exported="false" />
        <activity
            android:name=".view.forum.DetailForumActivity"
            android:exported="false" />
        <activity
            android:name=".view.forum.ForumActivity"
            android:exported="false" />
        <activity
            android:name=".view.flashcards.FlashcardsActivity"
            android:exported="false" />
        <activity
            android:name=".view.predict.PredictActivity"
            android:exported="false" />
        <activity
            android:name=".view.news.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.clinic.ClinicActivity"
            android:exported="false" />
        <activity
            android:name=".view.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>